<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>

<body class="bg-dark text-white container-fluid">
    <div id="app">
        <br>
        <div class="row">
            <div class="col-sm-8">
                <input class="form-control" placeholder="Digite o nome do invocador..." v-model="nomeInvocador"
                type="text" name="nomeInvocador" id="inTxtNome">
            </div>
            <!-- <div class="checkbox, col-sm-2">
                    <label><input type="checkbox" value="">Lembrar</label>
                  </div> -->
            <div class="col-sm-2">
                <input type="checkbox" name="rmbLoginCheck" id="" v-model="rememberLoginCheck">
                <label for="rmbLoginCheck">Lembrar</label>
            </div>
        </div>
        <br>
        <div class="row-fluid">
            <div class="spam2 offset10">
                <button class="btn btn-info" style="column-span: all" @click="teste()">Clique me</button>
            </div>
        </div>
        <hr>
        <p>{{summoner}}</p>
        
    </div>

    <script src="../node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../node_modules/vue/dist/vue.js"></script>
    <script src="../node_modules/lodash/lodash.js"></script>
    <script src="app.js"></script>

</body>

</html>